includes:
    - ../../../../config/extension.neon

parameters:
    unused_public:
        - "static_property"

rules:
    - TomasVotruba\UnusedPublic\Rules\UnusedPublicStaticPropertyRule

services:
    -
        class: TomasVotruba\UnusedPublic\Collectors\PublicStaticPropertyCollector
        tags:
            - phpstan.collector

    -
        class: TomasVotruba\UnusedPublic\Collectors\PublicStaticPropertyFetchCollector
        tags:
            - phpstan.collector
