includes:
    - config/extension.neon

parameters:
    type_coverage:
        return_type: 99
        param_type: 99
        property_type: 99
        # print_suggestions: true

    cognitive_complexity:
        function: 11

    level: 8

    paths:
        - src
        - tests

    checkGenericClassInNonGenericObjectType: false

    reportUnmatchedIgnoredErrors: false

    excludePaths:
        - "*/Fixture/*"
        - "*/Source/*"

    ignoreErrors:
        # collectors generics
        - '#Parameter (.*?) of method (.*?)Collector::processNode\(\) should be compatible with parameter#'
        - '#Method (.*?)Collector::processNode\(\) should return#'
