includes:
    - config/extension.neon

parameters:
    type_coverage:
        return_type: 99
        param_type: 99
        property_type: 99
        # print_suggestions: true

    cognitive_complexity:
        function: 11

    level: 8

    paths:
        - src
        - tests

    checkGenericClassInNonGenericObjectType: false

    excludePaths:
        - "*/Fixture/*"
        - "*/Source/*"

    ignoreErrors:
        # overly detailed
        -
            message: '#testRule\(\) has parameter (.*?) with no value type specified in iterable type array#'
            path: tests/Rules
