includes:
    - ../../../../config/services.neon

rules:
    - TomasVotruba\UnusedPublic\Rules\UnusedPublicPropertyRule

services:
    -
        class: TomasVotruba\UnusedPublic\Collectors\PublicPropertyCollector
        tags:
            - phpstan.collector

    -
        class: TomasVotruba\UnusedPublic\Collectors\PublicPropertyFetchCollector
        tags:
            - phpstan.collector
