includes:
    - ../../../../config/included_services.neon

rules:
    - TomasVotruba\UnusedPublicPHPStanRules\Rules\UnusedPublicPropertyRule

services:
    -
        class: TomasVotruba\UnusedPublicPHPStanRules\Collector\Class_\PublicPropertyCollector
        tags:
            - phpstan.collector

    -
        class: TomasVotruba\UnusedPublicPHPStanRules\Collector\PropertyFetch\PublicPropertyFetchCollector
        tags:
            - phpstan.collector
