includes:
    - ../../../../config/included_services.neon

rules:
    - TomasVotruba\UnusedPublic\Rules\UnusedPublicClassMethodRule

services:
    -
        class: TomasVotruba\UnusedPublic\Collector\ClassMethod\PublicClassMethodCollector
        tags:
            - phpstan.collector

    -
        class: TomasVotruba\UnusedPublic\Collector\ClassMethod\MethodCallCollector
        tags:
            - phpstan.collector
