includes:
    - ../../../../config/included_services.neon

rules:
    - TomasVotruba\UnusedPublic\Rules\UnusedPublicClassMethodRule

services:
    -
        class: TomasVotruba\UnusedPublic\Collectors\PublicClassMethodCollector
        tags:
            - phpstan.collector

    -
        class: TomasVotruba\UnusedPublic\Collectors\MethodCallCollector
        tags:
            - phpstan.collector
