includes:
    - ../../../../config/included_services.neon

rules:
    - TomasVotruba\UnusedPublic\Rules\UnusedPublicClassConstRule

services:
    -
        class: TomasVotruba\UnusedPublic\Collector\ClassConst\PublicClassLikeConstCollector
        tags:
            - phpstan.collector
