includes:
    - ../../../../config/services.neon

rules:
    - TomasVotruba\UnusedPublic\Rules\UnusedPublicClassConstRule

services:
    -
        class: TomasVotruba\UnusedPublic\Collectors\PublicClassLikeConstCollector
        tags:
            - phpstan.collector
