includes:
    - ../../../../config/included_services.neon

rules:
    - TomasVotruba\UnusedPublicPHPStanRules\Rules\UnusedPublicClassConstRule

services:
    -
        class: TomasVotruba\UnusedPublicPHPStanRules\Collector\ClassConst\PublicClassLikeConstCollector
        tags:
            - phpstan.collector
