parametersSchema:
    unused_public: structure([
        methods: bool()
        properties: bool()
        constants: bool()
        twig_template_paths: listOf(string())
    ])

# default parameters
parameters:
    unused_public:
        methods: false
        properties: false
        constants: false
        twig_template_paths:
            - 'templates'

services:
    - TomasVotruba\UnusedPublic\PublicClassMethodMatcher
    - TomasVotruba\UnusedPublic\ApiDocStmtAnalyzer
    - TomasVotruba\UnusedPublic\ClassMethodCallReferenceResolver
    - TomasVotruba\UnusedPublic\Twig\PossibleTwigMethodCallsProvider

    -
        factory: TomasVotruba\UnusedPublic\Configuration
        arguments:
            - %unused_public%

    # collectors

    # methods
    -
        class: TomasVotruba\UnusedPublic\Collectors\PublicClassMethodCollector
        tags:
            - phpstan.collector

    -
        class: TomasVotruba\UnusedPublic\Collectors\MethodCallCollector
        tags:
            - phpstan.collector

    -
        class: TomasVotruba\UnusedPublic\Collectors\StaticMethodCallCollector
        tags:
            - phpstan.collector

    -
        class: TomasVotruba\UnusedPublic\Collectors\PublicStaticPropertyFetchCollector
        tags:
            - phpstan.collector

    -
        class: TomasVotruba\UnusedPublic\Collectors\PublicClassLikeConstCollector
        tags:
            - phpstan.collector

    -
        class: TomasVotruba\UnusedPublic\Collectors\ClassConstFetchCollector
        tags:
            - phpstan.collector

    -
        class: TomasVotruba\UnusedPublic\Collectors\PublicPropertyCollector
        tags:
            - phpstan.collector

    -
        class: TomasVotruba\UnusedPublic\Collectors\PublicPropertyFetchCollector
        tags:
            - phpstan.collector

# rules
rules:
    - TomasVotruba\UnusedPublic\Rules\UnusedPublicClassMethodRule
    - TomasVotruba\UnusedPublic\Rules\UnusedPublicClassConstRule
    - TomasVotruba\UnusedPublic\Rules\UnusedPublicPropertyRule
