name: Code Analysis

on:
    pull_request: null
    push:
        branches:
            - main

jobs:
    code_analysis:
        strategy:
            fail-fast: false
            matrix:
                actions:
                    -
                        name: 'PHPStan'
                        run: composer phpstan --ansi

                    -
                        name: 'Composer Validate'
                        run: composer validate --ansi

                    -
                        name: 'Coding Standard'
                        run: composer fix-cs --ansi

                    -
                        name: 'Tests PHPStan 1.x'
                        run: |
                            composer update phpstan/phpstan:^1
                            vendor/bin/phpunit

                    -
                        name: 'Tests PHPStan 2.x'
                        run: |
                            composer remove rector/rector --dev # rector atm enforces PHPStan 1.x
                            composer remove tomasvotruba/type-coverage --dev # unused-public atm enforces PHPStan 1.x
                            composer update phpstan/phpstan:^2
                            vendor/bin/phpunit

                    -
                        name: 'Check Commented Code'
                        run: vendor/bin/easy-ci check-commented-code src tests --ansi

                    -
                        name: 'Check Active Classes'
                        run: vendor/bin/class-leak check src --ansi

                    -
                        name: 'Detect composer dependency issues'
                        run: vendor/bin/composer-dependency-analyser

        name: ${{ matrix.actions.name }}
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v2
            # see https://github.com/shivammathur/setup-php
            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.2
                    coverage: none

            # composer install cache - https://github.com/ramsey/composer-install
            -   uses: "ramsey/composer-install@v2"

            -   run: ${{ matrix.actions.run }}
